@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("fire.jpeg");
	background-size:1500px;
}



#store {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: red;
}
#stats {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: red;
	text-align: center;
}

#shopName {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: teal;
}

