@charset "UTF-8";
/* CSS Document */

#store {
	background-color: white
}

	#rightCol {
	float: right;
}

		#leftCol {
	float: left;
}

		body {
			/* Background images and sizes*/
	background-image: url("images/main blue copy.jpg");
	background-size:500px;
	background-color: #0028BA

}
		#score {
	text-align: right;
}

		h1 {
	color: red;
	background-color: none
	
	}

		#store {
	font-family: fantasy; 
	background-color: black;
	color: red;
}
 


/* stats text align, fonts, and color*/
		#stats {
	font-family: fantasy;
	color: red;
	background-color:black;
	


}
/* wrapper color and fonts*/
		#wrapper {
	font-family: cursive;
	color: orange;
		background-image: url("images/blue.jpg");
		}
	
