@charset "UTF-8";
/* CSS Document */

/* Calculator Box */
.box {
	background-color:#0B00A8;
	height:460px;
	width: 320px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
}
/* Display */
.display {
	background-color:#831315;
	width: 220px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
}

.display input  {
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	width: 210px;
	color:black;
	background-color:#EDE30A;
	font-size: 21px;
	text-align: right;
}

body {
	background-image: url("dad.jpeg");
	background-size:40px;
}
/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
width: 50px;
height: 40px;
border:none;
border-radius: 8px;
margin-left:17px;
cursor: pointer;
border-top: 2px solid transparent;
}
.button.function {
	color: white;
	background-color: #c64f81;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.operator {
	color: white;
	background-color: #02CDEB;
	border-bottom: black 2px solid;
	border-top: 2px #5B00B5 solid;
}
.button.number{
	color: white;
	background-color: #7091ab;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

/* Simulate Button Press */
.function:active {
border-top: black 2px solid;
border-botom: 2px #F9080C solid;
}
.operator :active {
	border-top: black 2px solid;
	border-bottom: #303030 2px solidd;
}
.number:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}