@charset "UTF-8";
/* CSS Document */

#store {
	background-color: white;
	float: left;
}

#rightCol {
	float: right;
}

#leftCol {
	float: left;
}

body {
	background-image: url("blue.jpg");
	background-size:2700px;
	background-repeat: no-repeat;
}
#score {
	text-align: right;
}

h1 {
	color: red;
	
	}

#store {
	font-family: fantasy;

	color: red;
}
 


/* stats text align, fonts, and color*/
#stats {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: red;
	


}
/* wrapper color and fonts*/
#wrapper {
	font-family: cursive;
	color: red;
}
